In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import scipy.stats as stats
import numpy as np

In [33]:
d1 =pd.read_csv('C:/Users/user/Desktop/Sales_add.csv')

In [34]:
d1.head()

,Month,Region,Manager,Sales_before_digital_add(in $),Sales_After_digital_add(in $)
0,Month-1,Region - A,Manager - A,132921,270390
1,Month-2,Region - A,Manager - C,149559,223334
2,Month-3,Region - B,Manager - A,146278,244243
3,Month-4,Region - B,Manager - B,152167,231808
4,Month-5,Region - C,Manager - B,159525,258402

In [35]:
d1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22 entries, 0 to 21
Data columns (total 5 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   Month                           22 non-null     object
 1   Region                          22 non-null     object
 2   Manager                         22 non-null     object
 3   Sales_before_digital_add(in $)  22 non-null     int64
 4   Sales_After_digital_add(in $)   22 non-null     int64
dtypes: int64(2), object(3)
memory usage: 1008.0+ bytes

In [36]:
d1.isna().sum()

Month                             0
Region                            0
Manager                           0
Sales_before_digital_add(in $)    0
Sales_After_digital_add(in $)     0
dtype: int64

In [37]:
d1.describe()

       Sales_before_digital_add(in $)  Sales_After_digital_add(in $)
count                       22.000000                      22.000000
mean                    149239.954545                  231123.727273
std                      14844.042921                   25556.777061
min                     130263.000000                  187305.000000
25%                     138087.750000                  214960.750000
50%                     147444.000000                  229986.500000
75%                     157627.500000                  250909.000000
max                     178939.000000                  276279.000000

# The company wishes to clarify whether there is any increase in sales after stepping into digital marketing

In [27]:
#Set Hypothesis
#Null Hypothesis:H0:There is increase in sales after stepping into digital marketing
#Alternative Hypothesis:H1:There is no increase in sales after stepping into digital marketing

In [28]:

#Since we consider increase in sales,one tailed(right end) t test has to be performed

In [29]:
#Reading sales before digital marketing

In [38]:
d1_sales_before = d1["Sales_before_digital_add(in $)"]
d1_sales_before

0     132921
1     149559
2     146278
3     152167
4     159525
5     137163
6     130625
7     131140
8     171259
9     141956
10    159339
11    178939
12    145062
13    151514
14    147463
15    177195
16    140862
17    167996
18    132135
19    152493
20    147425
21    130263
Name: Sales_before_digital_add(in $), dtype: int64

In [ ]:
#Reading sales after digital marketing

In [39]:
d1_sales_after = d1["Sales_After_digital_add(in $)"]
d1_sales_after

0     270390
1     223334
2     244243
3     231808
4     258402
5     256948
6     222106
7     230637
8     226261
9     193735
10    203175
11    276279
12    205180
13    253131
14    229336
15    187305
16    234908
17    191517
18    227040
19    212579
20    263388
21    243020
Name: Sales_After_digital_add(in $), dtype: int64

In [30]:
#finding t value and p value

In [40]:
tvalue,pvalue = stats.ttest_ind(d1_sales_before,d1_sales_after)
tvalue

-12.995084451110877

In [31]:
#degree of freedom

In [41]:
d1_sales_before.count()+d1_sales_after.count()-2

42

In [42]:
tvalue,pvalue = stats.ttest_ind(d1_sales_before,d1_sales_after)
tvalue

-12.995084451110877

In [17]:
tcriteria=stats.t.ppf(1-0.05,42)
tcriteria

1.6819523559426

In [18]:
if(tvalue>tcriteria and pvalue<0.05):
    print("Reject H0")
else:
    print("Reject H1")

Reject H1

# The company needs to check whether there is any dependency between the features “Region” and “Manager”.

In [32]:
# setHypothesis

In [43]:
d1_new = d1.groupby('Region')['Manager'].value_counts().unstack()
d1_new

Manager     Manager - A  Manager - B  Manager - C
Region
Region - A            4            3            3
Region - B            4            1            2
Region - C            1            3            1

In [ ]:
#Perform Chi-square test

In [44]:
c,p,dof,expected = stats.chi2_contingency(d1_new)

In [45]:
c

3.050566893424036

In [46]:
p

0.5493991051158094

In [47]:
dof

4

In [48]:
expected

array([[4.09090909, 3.18181818, 2.72727273],
       [2.86363636, 2.22727273, 1.90909091],
       [2.04545455, 1.59090909, 1.36363636]])